# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDes
.idea/
.vscode/
*.swp