<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Members Only</h1>
      <div class="links">
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
      </div>
    </header>
    <div class="messages">
      <% data.forEach(function(post) { %>
        <div class="message">
          <h1><%= post.username %></h1>
          <span><%= post.created_at %></span>
          <p><%= post.content %></p>
        </div>
      <% }); %>
    </div>
  </body>
</html>